.cardlist {
  margin: 1rem;
  border: solid 1px var(--border);
}

.cardlist_item {
  background-color: var(--color1);
  padding: 0.3rem;
  list-style: none;
  padding: 0.2rem;
}

.cardlist_item:nth-child(odd) {
  background-color: var(--color2);
}
