.cardlist {
  margin: 1rem;
}

.cardlist_item {
  color: black;
  background-color: cornflowerblue;
  list-style: none;
  padding: 0.2rem;
}

.cardlist_item:nth-child(odd) {
  background-color: darkgrey;
}
