.signform__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signform__form {
  justify-content: center;
  width: 100%;
  min-width: 350px;
  max-width: 400px;
  padding: 3rem 2rem;
  margin: 1.5rem auto;
  background-color: #38444d;
  color: whitesmoke;
  border-radius: 0.5em;
}

.signform__header {
  text-align: center;
}

.signform__container form {
  display: flex;
  flex-direction: column;
}

.signform__input {
  display: flex;
  flex-direction: column;
}

.signform__link {
  text-align: center;
  margin: 10px;
}

.signform__submit {
  margin: 10px 0px;
}

.signform__link a {
  text-decoration: none;
  color: rgb(18, 123, 53);
}

.sumbit__error {
  text-align: center;
  color: red;
  margin: 0.5rem 0;
}
